# JSON test data files
biz_compare/compare_product_list/origin.json
biz_compare/compare_product_list/optimize.json
biz_compare/compare_product_meta/origin.json
biz_compare/compare_product_meta/optimize.json
